
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    /*outline: 1px solid red; contour*/
    /*display: flex;*/
    justify-content: space-around;
  }
  
  .flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 1em;
    flex: 1 1 auto;
    outline: 1px solid blue;
    height: 10em;  
}


flex-container h1{
    font-size: 1em;
}