* {
    box-sizing: border-box;
  }

  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 200px;
    /*background-color:cornflowerblue;
    opacity: 15%;*/
    font-weight: bolder;
    color: whitesmoke;
    

  }

  h2{
      text-align: center;
      font-size: 3em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }